* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: potra;
    src: url("./assets/fonts/potra.ttf");
}

body {
    background-color: #fff;
    font-family: "Comfortaa", cursive;
}

header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
}

.game-title,
.game-description {
    color: #81caa8;
    font-size: 40px;
    text-align: center;
}

.btns {
    width: 75px;
    height: 35px;
    border: none;
    font-size: large;
    margin-left: 11px;
    border-radius: 10px;
    background: #81caa8;
    font-family: fantasy;
    cursor: pointer;
    outline: none;
}

#play:disabled,
#play[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    cursor: no-drop;
}

@keyframes animationButton {
    0% {
        width: 200px;
        height: 50px;
    }
    50% {
        width: 220px;
        height: 55px;
    }
    100% {
        width: 200px;
        height: 50px;
    }
}

.btn-init-game {
    z-index: 1;
    margin-top: 15px;
    width: 200px;
    height: 50px;
    font-size: 18px;
    background-color: #81caa8;
    color: #161616;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 22px;
    animation: 1s ease-in-out infinite animationButton;
}

.container-balloons {
    position: fixed;
    width: 90vw;
    height: 85vh;
    top: 55px;
    z-index: -1;
}

.container-controls-game {
    display: none;
}

.active {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blur {
    display: none;
}

.show-modal {
    display: flex;
    background: #fefdfda8;
    width: 100vw;
    z-index: 10000000;
    position: absolute;
    height: 100vh;
    top: 0px;
    justify-content: center;
    align-items: center;
}

.modal-pause {
    width: 540px;
    background: aqua;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 445px;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-color: #ecf0f3;
    box-shadow: 18px 18px 30px #d1d9e6, -18px -18px 30px #fff;
    /* animation: 1s ease-in-out infinite animationButton;s */
}

.modal-pause h2 {
    font-size: 50px;
    font-family: potra;
    margin-bottom: 100px;
}

.content-points {
    border: none;
    padding: 0px 10px;
    border-bottom: 3px solid #81caa8;
    margin-right: 35px;
    color: #81caa8;
    font-size: 30px;
}

.balloon {
    width: 90px;
    height: auto;
    cursor: url("./assets/imgs/alfinete.png"), auto;
    position: absolute;
    z-index: 5;
}